/* heading */

.head {
    text-align:center ;
    height : 50px; 
    border-bottom: 3px solid black; 
}


.right {
    font: size 10px; ;
    text-align: right;
    line-height: 5.0;  
    margin-right: 20px ;
  }

.img-head{
    width: 40px;
}

 /* 첫번쨰  */

.img-body {
    width: 300px;
}

.image-ani {
    animation-name: image_ani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    float: left;   
}

@keyframes image_ani {
    from{
        margin-left: 0;
    }

    to {
        margin-left: 27%;
    }
}


.introduction{
    animation-name: text_ani;
   animation-duration: 2s;
   animation-fill-mode: forwards;
}

@keyframes text_ani {
    from{
        margin-left:75%;
    }

    to {
        margin-left: 50%;
    }
    
}


.introduction>h2{
    font-size: 36px;
}

.introduction>p{
    font-size:18px;
    margin-bottom: 40px;
    @font-face {
        font-family: 'EarlyFontDiary';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    letter-spacing: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/* 두번째 */

.vacant{
    margin-top: 500px;
}

.fav>h2{
    text-align: center;
    font-size: 36px;
    line-height: 1px;
}

.fav>p{
    font-size: 18px;

    text-align: center;
    @font-face {
        font-family: 'EarlyFontDiary';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

}

.img_item {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
}

.img_container{
    text-align: center;
	letter-spacing: 50px;

}

.about {
    width: 100%;
    max-width: 1600px;
}
